.navbarContainer{
  background-color:black;
  height: 40px;
  padding: 20px;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  
  img{
    height: 50px;
  }
  div{
    color: white;
    margin-left: auto;    
    font-size: 40px;
    overflow: hidden;
    .navbarContainer---icons{
      margin-left:15px;
      margin-right: 15px;
      &:hover{
        color: #046f99;
        color: rgb(9 113 241);
        // cursor: pointer;
      }
    }
  }
}
.mainContainer{
  background-color: rgb(18, 18, 18);
  // background-color:black;
  
}